<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
</head>

<body>
    {{#each schools}} {{{pdfCreatePagesGroup schoolName}}}
    <canvas id='school{{schoolName}}' style="margin-bottom:30px"></canvas>
    <table class='table striped'>
        <thead>
            <tr>
                <th>Nombre Profesores</th>
            </tr>
        </thead>
        <tbody>
            {{#each teachers}}
            <tr>
                <td>{{User.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <table class='table striped'>
        <thead>
            <tr>
                <th>Nombre Estudiantes</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <td>{{User.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        var data = {
            teachersCount: {{teachersCount}},
            studentsCount: {{studentsCount}}
        };

        Chart.defaults.global.legend.display = false;

        new Chart(document.getElementById('school{{schoolName}}').getContext("2d"), {
            type: 'bar',
            data: {
                labels: ['Profesores', 'Estudiantes'],
                datasets: [{
                    fillColor: 'blue',
                    label: "Orders in time",
                    backgroundColor: "rgba(27,161,226,0.2)",
                    borderColor: "rgba(27,161,226,1)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(27,161,226,0.4)",
                    hoverBorderColor: "rgba(27,161,226,1)",
                    data: [data.teachersCount, data.studentsCount]
                }]
            },
            options: {
                animation: {
                    duration: 0
                }
            }
        });
    </script>

    <div style='page-break-after: always;'></div>
    {{/each}}
</body>

</html>